/*上部ナビゲーション演出*/
.nav-link:hover, .nav-link:focus {
    text-decoration: none; 
}

/*hover時白にする*/
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); 
}

/*上部ナビゲーション配置*/
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; 
}

/*上部ナビゲーション一部分カラー*/
.btn-secondary {
    color: #fff;
    background-color: #505050;
    border-color: #505050; 
}

/*nav文字高さ真中*/
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center; 
}

/*レイアウト切り替え*/
@media (min-width: 200px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start; }
        .navbar-expand-md .navbar-nav {
        flex-direction: row; }
        .navbar-expand-md .navbar-nav .dropdown-menu {
            position: absolute; }
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem; }
        .navbar-expand-md > .container,
        .navbar-expand-md > .container-fluid {
        flex-wrap: nowrap; }
        .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto; }
        .navbar-expand-md .navbar-toggler {
        display: none; 
    } 
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start; }
        .navbar-expand-md .navbar-nav {
        flex-direction: row; }
        .navbar-expand-md .navbar-nav .dropdown-menu {
            position: absolute; }
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem; }
        .navbar-expand-md > .container,
        .navbar-expand-md > .container-fluid {
        flex-wrap: nowrap; }
        .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto; }
        .navbar-expand-md .navbar-toggler {
        display: none; 
    } 
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0; 
    } 
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start; }
        .navbar-expand-lg .navbar-nav {
        flex-direction: row; }
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            position: absolute; }
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem; }
        .navbar-expand-lg > .container,
        .navbar-expand-lg > .container-fluid {
        flex-wrap: nowrap; }
        .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto; }
        .navbar-expand-lg .navbar-toggler {
        display: none; 
    } 
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
        padding-right: 0;
        padding-left: 0; 
    } 
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start; }
        .navbar-expand-xl .navbar-nav {
        flex-direction: row; }
        .navbar-expand-xl .navbar-nav .dropdown-menu {
            position: absolute; }
        .navbar-expand-xl .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem; }
        .navbar-expand-xl > .container,
        .navbar-expand-xl > .container-fluid {
        flex-wrap: nowrap; }
        .navbar-expand-xl .navbar-collapse {
        display: flex !important;
        flex-basis: auto; }
        .navbar-expand-xl .navbar-toggler {
        display: none; 
    } 
}